@using LibraryManagementSystem.ViewModel
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row min-vh-100 justify-content-center pt-5">
    <div class="col-md-6">
        @if(TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h4>Log in to your account</h4>
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mt-3">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <a class="btn btn-success form-control w-50 me-1" asp-controller="Account" asp-action="Login">Log in</a>
                        <a class="btn btn-secondary form-control w-50 ms-1" asp-controller="Book" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>