@using LibraryManagementSystem.DTOs.ReadingSession
@model IEnumerable<ReadingSessionInfoDto>

<h4>Reading sessions:</h4>
@if (Model != null && Model.Any())
{
    @foreach (var readingSession in Model)
    {
        <p>
            Pages: @(readingSession.StartPage)-@(readingSession.EndPage) <br />
            Date: @(readingSession.AddingDate)
        </p>
    }
}
else
{
    <div class="d-flex justify-content-center align-items-center" style="width: 100%;">
        <h3 class="text-center">None. Go read</h3>
    </div>
}